.homeaboutclass {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../homeImages/teamphoto1.jpg');
    border-radius: 20px;
    height: 540px;
    width: 100%;
    margin-top: 20px;
}

.whoarewebutton {
    top: 20%;
    left: 45%;
    position: absolute;
    background-color: white;
    border-radius: 16px;
    border: none;
    color: #0050A2;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    text-transform: none;
    font-size: x-large;
}